<div *ngIf="!(authenticationService.userData | async)">
    <input type="text" [(ngModel)]="username" placeholder="username">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="text" [(ngModel)]="firstName" placeholder="firstName">
    <input type="text" [(ngModel)]="lastName" placeholder="lastName">
    <input type="text" [(ngModel)]="phoneNumber" placeholder="phoneNumber">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="signUp()">Sign Up</button>

    <button (click)="signIn()">Login</button>
</div>

<button (click)="signOut()" *ngIf="authenticationService.userData | async">Logout</button>


<table *ngIf="authenticationService.userData | async">
  <thead>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Rank</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.rank}}</td>
    </tr>
  </tbody>
</table>
